name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      is_release:
        description: 'Is this a release build?'
        type: boolean
        required: true
        default: false

jobs:
  release:
    runs-on: windows-latest

    strategy:
      matrix:
        include:
          - python-version: "3.8"
            artifact-name: "NAT1_Traversal_py3.8"
          - python-version: "3.14"
            artifact-name: "NAT1_Traversal"

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 1

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller shiv wheel requests dnspython

    - name: Create version
      if: ${{ !(github.event_name == 'workflow_dispatch' && github.event.inputs.is_release) }}
      run: |
        "VERSION = VERSION + '+$(git rev-parse --short HEAD)'" | Out-File -FilePath "nat1_traversal/util/version.py" -Append -Encoding utf8

    - name: Build project
      run: |
        pyinstaller nat1_traversal.spec
        shiv -e nat1_traversal.nat1_traversal:main -o nat1_traversal.pyz .
        mv .\dist\nat1_traversal.exe .

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact-name }}
        path: |
          hook_bind/
          nat1_traversal.pyz
          nat1_traversal.exe
          *.json
          LICENSE
        if-no-files-found: error
